/*LOG_IN and REGISTRATION START*/

.background {
    background-color: #171722;
}

.auth_main_box {
    background: #212130;
    border-radius: 20px;
}

.auth_entry_field {
    background: #434461;
    border-radius: 60px;
    border-style: solid;
    border-color: #434461;
    outline: none;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #6E78A8;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.auth_entry_field:hover {
    border: 2px solid #6E78A8;
    box-shadow: 0px 0px 20px -17px;
}

.auth_entry_field:active {
    transform: scale(0.99);
}

.auth_entry_field:focus {
    border: 2px solid #7AA2F7;
}

.auth_welcome_to_the_dark {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #B1BAE6;
}

.auth_button {
    background: #13131A;
    border-radius: 60px;
    outline: none;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #B1BAE6;
    transition: all 0.3s ease-in-out;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.auth_button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #565F89;
}

.auth_button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 #565F89;
}

.auth_dont_or_have_account {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #B1BAE6;
}

.auth_sign_button {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #565F89;
    border-color: transparent;
    background: transparent;
    text-decoration-line: underline;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.auth_sign_button:hover {
    border-color: transparent;
    background: transparent;
    text-decoration-line: underline;
    color: #0269A4;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

/*LOG_IN and REGISTRATION START*/



/*HOME START*/
.home {
    margin: 46px 0px 47px 0px;
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

/*HOME END*/



/*LEFT MENU BAR START*/
.left_menu_bar {
    margin: 46px 22px 47px 23px;
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.profile_avatar_btn {
    border-radius: 50%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/test_avatar1.jpg);
}


.profile_avatar_btn:hover {
    border-width: 2px;
    border-color: #7AA2F7;
    transition: 0.5s;
}

.profile_avatar_btn:active {
    transform: scale(0.9);
}


.home_btn {
    border: none;
    border-radius: 10px;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/home_btn.png);
    background-color: #4A4A66;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.home_btn:hover {
    background-color: #4A4A66;
    transition: 0.5s;
}

.home_btn:active {
    transform: scale(0.7);
}


.chats_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/chats_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.chats_btn:hover {
    background-color: #4A4A66;
    transition: 0.5s;
}

.chats_btn:active {
    transform: scale(0.7);
}

.settings_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/settings_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.settings_btn:hover {
    background-color: #4A4A66;
    transition: 0.5s;
}

.settings_btn:active {
    transform: scale(0.7);
}

.achievements_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/achievements_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.achievements_btn:hover {
    background-color: #4A4A66;
    transition: 0.5s;
}

.achievements_btn:active {
    transform: scale(0.7);
}


.log_out_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/log_out_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.log_out_btn:hover {
    background-color: #4A4A66;
    transition: 0.5s;
}

.log_out_btn:active {
    transform: scale(0.7);
}

/*LEFT MENU BAR END*/



/*CHATS CONTAINER START*/
.chats_container {
    margin: 46px 0px 47px 0px;
}

.mini_groups_grid {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.mini_groups_box {
    margin: 10px 20px;
}

.mini_chats {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.chats_list_grid {
    /*border: 1px solid green;*/
    margin: 0px 20px 10px 20px;
}

.chat_line {
    border-radius: 20px;
    border: 1px solid rgba(122, 162, 247, 0.35);
}

.avatar_grid {
    border-radius: 50%;
}

.chat_username {
    color: #B1BAE6;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
}

.chat_message {
    color: #B1BAE6;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 24px;
}

.chat_line {
    margin: 5px 0px;
}


.chats {
    background: #171722;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.main_box_style_blurred {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
    filter: blur(5px);
}

.current_dirrect_message_box {
    background: #171722;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.current_dirrect_message_box_blurred {
    background: #171722;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
    filter: blur(5px);
}

.search_bar_grid {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.search_bar_box {
    margin-top: 10px;
    margin-left: 10px;
}

.search_bar_box_blurred {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
    filter: blur(5px);
}

.search_bar_box:active {
    transform: scale(0.99);
}

.search_bar_box:focus {
    border: 2px solid #7AA2F7;
}


.search_btn {
    border: none;
    background: none;
    background-image: url(../../resources/images/search_btn.png);
    background-repeat: no-repeat;
    background-position: center;
    outline-color: transparent;
    border-color: #7AA2F7;
    box-shadow: none;
    outline: none;
}

.entry_for_search {
    margin-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7AA2F7;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.group_label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(122, 162, 247, 0.5);
}

.create_new_chat_btn {
    background: transparent;
    background-image: url(../../resources/images/create.png);
    background-repeat: no-repeat;
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    outline: none;
}

.create_new_chat_btn:hover {
    transform: translateY(-7px);
}

.create_new_chat_btn:active {
    transform: translateY(-1px);
}

.lets_start {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: #7AA2F7;
    box-shadow: 0 0 25px #647295;
}

.lets_start:hover {
    box-shadow: 0 0 5px #6582C8,
        0 0 25px #647295,
        0 0 50px #6582C8,
        0 0 100px #647295;
}

.lets_start:active {
    transform: translateY(-1px);
}

/*CHATS CONTAINER END*/

/*LOG OUT START*/
.log_out_box {
    background: #212130;
    /*border: 1px solid rgba(122, 162, 247, 0.35);*/
    border-radius: 20px;
}

.log_out_label {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #B1BAE6;
}

.yes_btn {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #B1BAE6;
    border: 2px solid #434461;
    border-radius: 60px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    background-color: transparent;
    background: transparent;
    outline-color: transparent;
    outline: none;
    box-shadow: none;
}

.yes_btn:hover {
    color: #B1BAE6;
    background-color: #434461;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.yes_btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.no_btn {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #B1BAE6;
    border: 2px solid #13131A;
    border-radius: 60px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    background-color: transparent;
    background: transparent;
    outline-color: transparent;
    outline: none;
    box-shadow: none;
}


.no_btn:hover {
    color: #B1BAE6;
    background-color: #13131A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.no_btn:active {
    box-shadow: none;
    transform: translateY(0);
}

/*LOG OUT END*/

/*ACHIEVEMENTS START*/

.achievements_grid {
    margin: 47px 0px 48px 0px;
}

.achievements_box {
    background: #171722;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.achievements_icon_btn {
    border-color: transparent;
    border-radius: 50%;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/achievements_icon_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.achievements_label_btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #B1BAE6;
    font-size: 1.1em;
    background: #171717;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    transition: all .4s;
    outline-color: transparent;
    outline: none;
}

.achievements_label_btn:hover {
    border-radius: 15px;
    transform: translateY(-10px);
    box-shadow: 0 15px 0 -4px #39a2db,
        0 16px 10px -3px #39a2db,
        0 7px 0 -2px #EEEEFF;
}

.achievements_label_btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #EEEEFF,
        0 8px 0 -4px #39a2db,
        0 12px 10px -3px #39a2db;
}

.first_hbox {
    background: #171722;
}

.achievement_card {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
    transition: all 0.5s;
}

.achievement_card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.achievement_label_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height */

    color: #B1BAE6;
}

.achievement_desc_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #7AA2F7;
}

.complete_btn {
    border-color: transparent;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/complete_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.unfinished_btn {
    border-color: transparent;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/unfinished_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;

}

.second_hbox {
    background: #171722;
}

/*ACHIEVEMENTS EMD*/

/*SETTINGS START*/

.settings_main_grid {
    margin: 46px 0px 47px 0px;
    background: #171722;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.settings_grid_help {
    margin: 29px 266px 18px 266px;
}

.settings_grid_for_ico {
    margin: 0px 138px;
    border-radius: 50%;
    border: 2px solid #7AA2F7;
    background: none;
}

.settings_grid_with_ico {
    border-radius: 50%;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/settings_icon_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.settings_grid_with_lab {
    margin: 0px 157px;
    background: #171717;
    border-radius: 15px;
}

.settings_lab {
    margin: 5px 55px;
    color: #B1BAE6;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 30px;
    font-size: 1.1em;
}

.settings_grid_with_body {
    border: 1px solid rgba(122, 162, 247, 0.35);
    background: #13131A;
    border-radius: 20px;
}

.settings_grid_with_color_scheme {
    /*margin: 20px 20px;*/
    border-radius: 20px;
    border: 1px solid rgba(122, 162, 247, 0.35);
    margin: 30px 140px 15px 140px;
}

.settings_first_scheme_btn {
    margin: 10px 21.25px 10px 10.625px;
    border-radius: 50%;
    border: 1px solid rgba(122, 162, 247, 0.35);
    background: #171722;
}

.settings_second_scheme_btn {
    margin: 10px 10.625px 10px 10.625px;
    border-radius: 50%;
    border: 1px solid rgba(122, 162, 247, 0.35);
    background: #341948;
}

.settings_third_scheme_btn {
    margin: 10px 10.625px 10px 21.25px;
    border-radius: 50%;
    border: 1px solid rgba(122, 162, 247, 0.35);
    background: blue;
}

/*SETTINGS END*/