/*LOG_IN and REGISTRATION START*/

@import url("color.css");


.background {
    background-color: #000000;
}

.auth_main_box {
    border: none;
    box-shadow:
    0 0 10px 0 #fff,
    0 0 20px 0 @my-main-color,
    0 0 30px 0 @my-main-color,
    0 0 40px @my-main-color,
    0 0 70px @my-main-color,
    0 0 80px @my-main-color,
    0 0 100px @my-main-color;
    filter: brightness(150%);
    border-radius: 20px;
}

.auth_entry_field {
    background: #000000;
    filter: brightness(150%);
    border-radius: 60px;
    border-style: solid;
    border-color: #ffffff;
    outline: none;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.auth_entry_field:hover {
    border: 2px solid @my-main-color;
    box-shadow: 0px 0px 20px -17px;
}

.auth_entry_field:active {
    transform: scale(0.99);
}

.auth_entry_field:focus {
    border: 2px solid @my-main-color;
}

.auth_welcome_to_the_dark {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    text-shadow:
    0 0 10px @my-main-color,
    0 0 20px @my-main-color,
    0 0 30px @my-main-color,
    0 0 40px @my-main-color,
    0 0 70px @my-main-color,
    0 0 80px @my-main-color,
    0 0 100px @my-main-color;
    filter: brightness(150%);
}

.auth_button {
    color: #fff;
    background: #000000;
    border-radius: 60px;
    outline: none;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.auth_button:hover {
    border-bottom: 2px solid @my-main-color;
    box-shadow: 0px 2px 10px @my-main-color, 0px 2px 20px @my-main-color, 0px 2px 30px @my-main-color, 0px 2px 40px @my-main-color;
    filter: brightness(150%);

}

.auth_button:active {
    box-shadow: 0 0 0 0 @my-main-color;
}

.auth_dont_or_have_account {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}

.auth_sign_button {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    border-color: transparent;
    background: transparent;
    text-decoration-line: underline;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.auth_sign_button:hover {
    border-color: transparent;
    background: transparent;
    /*text-decoration-line: underline;*/
    color: @my-main-color;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

/*LOG_IN and REGISTRATION START*/

/*HOME START*/
.home {
    margin: 46px 0px 47px 0px;
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
}

/*HOME END*/

/*LEFT MENU BAR START*/
.left_menu_bar {
    margin: 46px 22px 47px 23px;
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
}

.profile_avatar_btn {
    border-radius: 50%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/test_avatar1.jpg);
}


.profile_avatar_btn:hover {
    border-width: 2px;
    border-color: @my-main-color;
    transition: 0.5s;
}

.profile_avatar_btn:active {
    transform: scale(0.9);
}


.home_btn {
    border: none;
    border-radius: 10px;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/home_btn.png);
    background-color: #000000;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.home_btn:hover {
    background-color: @my-main-color;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px @my-main-color,
    0 0 15px @my-main-color;
    transition: 0.5s;
}

.chats_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/chats_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.chats_btn:hover {
    background-color: @my-main-color;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px @my-main-color,
    0 0 15px @my-main-color;
    transition: 0.5s;
}

.settings_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/settings_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.settings_btn:hover {
    background-color: @my-main-color;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px @my-main-color,
    0 0 15px @my-main-color;
    transition: 0.5s;
}

.achievements_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/achievements_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.achievements_btn:hover {
    background-color: @my-main-color;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px @my-main-color,
    0 0 15px @my-main-color;
    transition: 0.5s;
}


.log_out_btn {
    border: none;
    border-radius: 10px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/log_out_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.log_out_btn:hover {
    background-color: @my-main-color;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px @my-main-color,
    0 0 15px @my-main-color;
    transition: 0.5s;
}


/*LEFT MENU BAR END*/



/*CHATS CONTAINER START*/
.chats_container {
    margin: 46px 0px 47px 0px;
}

.mini_groups_grid {
    border-radius: 20px;
    background: #000000;
    border: 1px solid @my-main-color;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px 0 @my-main-color,
    0 0 20px 0 @my-main-color,
    0 0 35px @my-main-color;
}

.mini_groups_box {
    margin: 10px 20px;
}

.mini_chats {
    border-radius: 20px;
    background: #000000;
    border: 1px solid @my-main-color;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px 0 @my-main-color,
    0 0 20px 0 @my-main-color,
    0 0 35px @my-main-color;
}

.chats_list_grid {
    /*border: 1px solid green;*/
    margin: 0px 20px 10px 20px;
}

.chat_line {
    border-radius: 20px;
    border: 1px solid @my-main-color;
}

.avatar_grid {
    border-radius: 50%;
}

.chat_username {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
}

.chat_message {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 24px;
}

.chat_line {
    margin: 5px 0px;
}


.chats {
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px 0 @my-main-color,
    0 0 20px 0 @my-main-color,
    0 0 35px @my-main-color;
}

.main_box_style_blurred {
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
    filter: blur(5px);
}

.current_dirrect_message_box {
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
}

.current_dirrect_message_box_blurred {
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
    filter: blur(5px);
}

.search_bar_grid {
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
    box-shadow:
    0 0 5px 0 #fff,
    0 0 10px 0 @my-main-color,
    0 0 20px 0 @my-main-color,
    0 0 35px @my-main-color;
}

.search_bar_box {
    margin-top: 10px;
    margin-left: 10px;
}

.search_bar_box_blurred {
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
    filter: blur(5px);
}

.search_bar_box:active {
    transform: scale(0.99);
}

.search_bar_box:focus {
    border: 2px solid #7AA2F7;
}


.search_btn {
    border: none;
    background: none;
    background-image: url(../../resources/images/search_btn.png);
    background-repeat: no-repeat;
    background-position: center;
    outline-color: transparent;
    border-color: #ffffff;
    box-shadow: none;
    outline: none;
}

.entry_for_search {
    margin-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #ffffff;
    text-shadow:
    0 0 1px @my-main-color,
    0 0 2px @my-main-color,
    0 0 3px @my-main-color;
}

.group_label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-shadow:
    0 0 1px @my-main-color,
    0 0 2px @my-main-color,
    0 0 3px @my-main-color;
}

.create_new_chat_btn {
    background: transparent;
    background-image: url(../../resources/images/create.png);
    background-repeat: no-repeat;
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    outline: none;
}

.create_new_chat_btn:hover {
    transform: translateY(-7px);
}

.create_new_chat_btn:active {
    transform: translateY(-1px);
}

/*CHATS CONTAINER END*/

/*LOG OUT START*/
.log_out_box {
    background: #000000;
    border-radius: 20px;
    border: 1px solid @my-main-color;
}

.log_out_label {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    text-shadow:
    0 0 10px @my-main-color,
    0 0 20px @my-main-color,
    0 0 30px @my-main-color,
    0 0 40px @my-main-color,
    0 0 70px @my-main-color,
    0 0 80px @my-main-color,
    0 0 100px @my-main-color;
}

.yes_btn {
    font-family: 'JetBrains Mono';
    border-radius: 10px;
    border-color: #FFFFFF;
    background-color: #000000;
}

.yes_btn:hover {
    border-color: @my-main-color;
}


.no_btn {
    font-family: 'JetBrains Mono';
    border-radius: 10px;
    border-color: #FFFFFF;
    background-color: #000000;
}


.no_btn:hover {
    border-color: @my-main-color;
}


/*LOG OUT END*/

/*YOUR PROFILE START*/

.profile_help_box {
    margin: 18px 268px 24px 268px;
}

.profile_grid_for_img {
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 50%;
    margin-right: 138px;
    margin-left: 138px;
}

.profile_grid_scale {
    background: #171722;
    border-radius: 20px;
    margin-right: 114px;
    margin-left: 114px;
}

.profile_grid_body {
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

/*YOUR PROFILE END*/

/*ACHIEVEMENTS START*/

.achievements_grid {
    margin: 47px 0px 48px 0px;
}

.achievements_box {
    background: #171722;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.achievements_icon_btn {
    border-color: transparent;
    border-radius: 50%;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/achievements_icon_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.achievements_label_btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #B1BAE6;
    font-size: 1.1em;
    background: #171717;
    box-shadow: none;
    border: none;
    border-radius: 15px;
    transition: all .4s;
    outline-color: transparent;
    outline: none;
}

.achievements_label_btn:hover {
    border-radius: 15px;
    transform: translateY(-10px);
    box-shadow: 0 15px 0 -4px #39a2db,
    0 16px 10px -3px #39a2db,
    0 7px 0 -2px #EEEEFF;
}

.achievements_label_btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #EEEEFF,
    0 8px 0 -4px #39a2db,
    0 12px 10px -3px #39a2db;
}

.first_hbox {
    background: #171722;
}

.achievement_card {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
    transition: all 0.5s;
}

.achievement_card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.achievement_label_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height */

    color: #B1BAE6;
}

.achievement_desc_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #7AA2F7;
}

.complete_btn {
    border-color: transparent;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/complete_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.unfinished_btn {
    border-color: transparent;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/unfinished_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;

}

.second_hbox {
    background: #171722;
}

.scrollbar {
    background: #13131A;
    border-radius: 10px;
}

/*ACHIEVEMENTS EMD*/

/*SETTINGS START*/

.settings_main_grid {
    margin: 46px 0px 45px 0px;
    background: #000000;
    border: 1px solid @my-main-color;
    border-radius: 20px;
}

.settings_grid_help {
    margin: 29px 265px 18px 265px;
}

.settings_grid_for_ico {
    margin: 0px 138px;
    border-radius: 50%;
    border: 1px solid @my-main-color;
    background: none;
}

.settings_grid_with_ico {
    border-radius: 50%;
    outline-color: transparent;
    box-shadow: none;
}

.settings_grid_with_lab {
    margin: 0px 157px;
    border: 0.5px solid @my-main-color;
    background: none;
    border-radius: 15px;
}

.settings_lab {
    margin: 5px 55px;
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 30px;
    font-size: 1.1em;
    text-shadow:
    0 0 1px @my-main-color,
    0 0 2px @my-main-color,
    0 0 3px @my-main-color;

}

.settings_lab_nsh {
    margin-top: 13px;
    margin-bottom: 1px;
    margin-right: 10px;
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 400;
    line-height: 30px;
    font-size: 1.1em;
    text-shadow:
    0 0 1px @my-main-color,
    0 0 2px @my-main-color,
    0 0 3px @my-main-color;
}

.settings_lab_nsh_plus {
    margin-top: 10px;
    color: #ffffff;
    background: #000000;
    border: none;
    font-family: 'Open Sans';
    font-weight: 100;
    line-height: 30px;
    font-size: 40px;
    text-shadow:
    0 0 1px @my-main-color,
    0 0 2px @my-main-color,
    0 0 3px @my-main-color;
}

.settings_grid_with_body {
    background: #000000;
    border: none;
    box-shadow: 0 0 10px 0 #fff,
    0 0 5px @my-main-color,
    0 0 10px @my-main-color,
    0 0 25px @my-main-color,
    0 0 35px @my-main-color;
    filter: brightness(150%);
    border-radius: 20px;
}

.settings_grid_with_color_scheme {
    margin-top: 20px ;
    border-radius: 20px;
    border: 1px solid @my-main-color;
    margin-left: 20px;

}

.settings_new_scheme_btn {
    border: none;
    margin: 10px 21.25px 10px 10.625px;
    border-radius: 50%;
    background: @my-main-color;
}


/*SETTINGS END*/


.choose_profile_avatar_btn {
    border-color: transparent;
    border-radius: 50%;
    background: none;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/choose_profile_avatar_btn.png);
    background-color: transparent;
    background-position: center;
    outline-color: transparent;
    box-shadow: none;
}

.level_box {
    background: #13131A;
}