.background {
    background-color: #171722;
}
.box {
    background: #212130;
    border-radius: 20px;
}
.main_entry_field {
    background: #434461;
    border-radius: 60px;
    border-style: solid;
    border-color: #434461;
    outline: none;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #6E78A8;
}

.main_entry_field:hover {
    border-color: #13131A;
    background-color: #212130;
}

.welcome_to_the_dark {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #B1BAE6;
}

.log_in_button {
    background: #13131A;
    border-radius: 60px;
    border-color: #13131A;
    outline:none;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #B1BAE6;
}

.log_in_button:hover {
    background-color: #171722;
}
.sign_up_button_registration {
    background: #13131A;
    border-radius: 60px;
    border-color: #13131A;
    outline:none;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #B1BAE6;
}

.sign_up_button_registration:hover {
    background-color: #171722;
}

.dont_have_account {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #B1BAE6;
}

.have_account {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #B1BAE6;
}

.sign_up_button_log_in {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #565F89;
    border-color: transparent;
    background: transparent;
    text-decoration-line: underline;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.sign_up_button_log_in:hover {
    border-color: transparent;
    background: transparent;
    text-decoration-line: underline;
    color: #0269A4;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.sign_in_button {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #565F89;
    border-color: transparent;
    background: transparent;
    text-decoration-line: underline;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.sign_in_button:hover {
    border-color: transparent;
    background: transparent;
    text-decoration-line: underline;
    color: #0269A4;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.main_box_style {
    background: #13131A;
    border: 1px solid rgba(122, 162, 247, 0.35);
    border-radius: 20px;
}

.profile_avatar_btn {
    border-radius: 50%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/test_avatar1.jpg);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.home_btn {
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/home_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}


.chats_btn {
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/chats_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.settings_btn {
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/settings_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.achievements_btn {
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/achievements_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.log_out_btn {
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/log_out_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.search_btn {
    border-color: transparent;
    background: transparent;
    background-repeat: no-repeat;
    background-image: url(../../resources/images/search_btn.png);
    background-position: center;
    outline-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
.entry_for_search {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.35);

}